*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #242A32;
    overflow-x: hidden;
}

/* Navbar */
.nav li a{
    color: whitesmoke;
    text-decoration: none;
    background: linear-gradient(148.39deg, rgba(255, 255, 255, 0.4) 16.43%, rgba(255, 253, 253, 0.1) 85.71%);
    padding: 5px 10px;
    border-radius: 40px;
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(40px);
}

.nav{
    display: flex;
    width: fit-content;
    margin: auto;
}

.nav li{
    list-style: none;
    padding: 10px 20px;
}

.nav li :hover{
    box-shadow: 0px 0px 10px #cecece;
}

/* Home */
.home div{
    font-size: 40px;
    font-weight: bold;
    height: 100vh;
    width: fit-content;
    display: flex;
    align-items: center;
    margin-left: 20px;
    /* Untuk membuat text menjadi gradient */
    background: linear-gradient(to bottom right, #FFFFFF, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home{
    height: 100vh;
}

/* About Me */
.about-me{
    display: flex;
    margin: 10px 20px;
    flex-direction: column;
}

.title1{
    color: whitesmoke;
    font-size: 40px;
    margin: 0px auto 100px auto;
    width: fit-content;
}

.isi{
    background: linear-gradient(148.39deg, rgba(255, 255, 255, 0.4) 16.43%, rgba(255, 253, 253, 0.1) 85.71%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(40px);
    border-radius: 40px;
    height: 400px;
    width: 95%;
    overflow: hidden;
    display: flex;
    margin: auto;
}

.isi img{
    margin: auto 20px;
    height: 350px;
    width: 350px;
    border-radius: 40px;
}

.isi .desc-left{
    color: whitesmoke;
    width: 50%;
    font-size: 22px;
    margin: auto 20px;
    text-align: justify;
}

.isi .desc-right{
    margin: 20px 20px;
    width: 100%;
}

.isi .desc-right .education{
    width: fit-content;
    margin: 10px auto;
    color: whitesmoke;
    font-size: 30px;
}

.isi .desc-right table{
    margin: 0px auto;
    border-radius: 10px;
}

.isi .desc-right table tr td{
    color: whitesmoke;
    text-align: center;
    padding: 3px;
}

.skill{
    width: 65%;
    margin: auto;
    padding-top: 30px;
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
}

.skill .skill1 h4,
.skill2 h4,
.skill3 h4,
.skill4 h4{
    color: whitesmoke;
    width: 40%;
}

.skill .level{
    height: 10px;
    width: 10px;
    background: whitesmoke;
    border-radius: 50%;
    margin-right: 3px;
}

.skill .level-trans{
    height: 10px;
    width: 10px;
    background: whitesmoke;
    border-radius: 50%;
    margin-right: 3px;
    opacity: 0.3;
}

.skill .skill1,
.skill2,
.skill3,
.skill4{
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* My Project */
.my-project{
    margin-top: 200px;
}

.title2{
    color: whitesmoke;
    font-size: 40px;
    margin: 0px auto 100px auto;
    width: fit-content;
}
.my-project .project{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-around;
    flex-flow: wrap;
}

.my-project .project .card{
    height: 270px;
    width: 25%;
    background: linear-gradient(148.39deg, rgba(255, 255, 255, 0.4) 16.43%, rgba(255, 253, 253, 0.1) 85.71%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(40px);
    border-radius: 20px;
    margin: auto;
}

.my-project .project .card .top-card{
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: center;
}
.my-project .project .card .top-card img{
    width: 95%;
    border-radius: 20px;
    padding-top: 5px;
}

.my-project .project .card .bottom-card{
    color: whitesmoke;
    padding: 10px 10px 5px 10px;
    text-align: justify;
}

.my-project .project .card .top-card-empty{
    display: flex;
    justify-content: center;
    height: 70%;
}

.my-project .project .card .top-card-empty img{
    padding-top: 5px;
    width: 95%;
}

.my-project .project .card .bottom-card-empty{
    color: whitesmoke;
    text-align: center;
    font-size: 30px;
}

.my-project .project :hover{
    transform: scale(1.1, 1.1);
}

.my-project .project .card :hover{
    transform: scale(1, 1);
}
/* Contact Me */
.contact-me{
    margin-top: 200px;
}
.title3{
    color: whitesmoke;
    font-size: 40px;
    margin: 0px auto 100px auto;
    width: fit-content;
}

.background{
    height: fit-content;
    width: 60%;
    background: linear-gradient(148.39deg, rgba(255, 255, 255, 0.4) 16.43%, rgba(255, 253, 253, 0.1) 85.71%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(40px);
    border-radius: 40px;
    margin: auto;
    padding: 20px;
}

.contact{
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
}

.labelS{
    margin: 10px 20px;
    width: 20%;
    color: white;
}

.inputS{
    background-color: transparent;
    margin: auto;
    width: 60%;
    border-radius: 10px;
    border-width: 2px;
    border-style: ridge;
    padding: 5px;
}

.confirm{
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: 20px auto;
}

.confirm .contact label{
    color: white;
    padding: 0px 10px;
}

.confirm button{
    background: linear-gradient(148.39deg, rgba(255, 255, 255, 0.4) 16.43%, rgba(255, 253, 253, 0.1) 85.71%);
    padding: 5px 10px;
    border-radius: 40px;
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(40px);
    color: white;
    margin-left: auto;
}

/* Decoration */
.ball1{
    height: 130px;
    width: 130px;
    position: absolute;
    background:linear-gradient( 180deg, #EC3060 0%,rgba(112, 215, 240, 0) 100%);
    border-radius: 50%;
    mix-blend-mode: lighten;
    top: 90px;
    left: 250px;
}

.ball2{
    height: 150px;
    width: 150px;
    position: absolute;
    background:linear-gradient(155.42deg, #FED2A4 11.85%, rgba(254, 24, 119, 0) 95.71%);
    border-radius: 50%;
    mix-blend-mode: lighten;
    top: -70px;
    right: -50px;
}

.ball3{
    height: 200px;
    position: absolute;
    background:linear-gradient(180deg, #FF9ABA 0%, rgba(254, 240, 43, 0) 100%);
    mix-blend-mode: lighten;
    width: 200px;
    border-radius: 50%;
    top: 50vh;
    right: 100px;
}

.ball4{
    background: linear-gradient(145.49deg, #88CDF7 18.18%, rgba(47, 156, 186, 0) 83.89%);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    mix-blend-mode: lighten;
    top: 620px;
    left: 334px;
}

.ball5{
    background:  linear-gradient(145.49deg, #30CED8 18.18%, rgba(233, 199, 49, 0) 83.89%);
    height: 198px;
    width: 198px;
    border-radius: 50%;
    position: absolute;
    mix-blend-mode: lighten;
    top: 1200px;
    left: -30px;
}

.ball6{
    background: linear-gradient(148.1deg, #6AFCDD 11.28%, rgba(246, 164, 203, 0) 87.24%);
    height: 200px;
    width: 200px;
    mix-blend-mode: lighten;
    position: absolute;
    border-radius: 50%;
    top: 1250px;
    right: 80px;
}

.ball7{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: absolute;
    background: linear-gradient(145.49deg, #F96889 18.18%, rgba(90, 184, 248, 0) 83.89%);
    mix-blend-mode: lighten;
    top: 1840px;
    animation: ball7 10s infinite;
    animation-timing-function: linear;
}

@keyframes ball7 {
    0%{
        left: -350px;
    }

    100%{
        left: 1300px;
    }
}


/* Media Query */
@media screen and (max-width: 768px){
    /* Decoration */
.ball1{
    height: 100px;
    width: 100px;
    top: 90px;
    left: 200px;
}

.ball2{
    height: 120px;
    width: 120px;
    top: -75px;
    right: -70px;
}

.ball3{
    height: 150px;
    width: 150px;
    top: 50vh;
    right: 100px;
}

.ball4{
    height: 90px;
    width: 90px;
    top: 520px;
    left: 154px;
}

.ball5{
    height: 148px;
    width: 148px;
    top: 1150px;
    left: -30px;
}

.ball6{
    height: 150px;
    width: 150px;
    top: 1170px;
    right: 80px;
}

.ball7{
    height: 120px;
    width: 120px;
    top: 1770px;
 
}
    /* About Me */

.isi img{
    margin: auto 20px;
    height: 250px;
    width: 250px;
    border-radius: 40px;
}

.isi .desc-left{
    width: 100%;
    font-size: 14px;
}

.isi .desc-right{
    margin: 20px 20px;
    width: 100%;
}

.isi .desc-right .education{
    text-align: center;
}
.skill{
    width: 95%;
    padding-top: 20px;
}

.skill .skill1 h4,
.skill2 h4,
.skill3 h4,
.skill4 h4{
    width: 45%;
    font-size: smaller;
}

.skill .level{
    height: 8px;
    width: 8px;
    margin: auto 3px auto 0px;
}

.skill .level-trans{
    height: 8px;
    width: 8px;
    margin: auto 3px auto 0px;;
}

.skill .skill1,
.skill2,
.skill3,
.skill4{
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* My Project */
.my-project .project .card{
    width: 30%;
}
.my-project .project .card .bottom-card-empty{
    font-size: 20px;
}

/* Contact Me */
.background{
    width: 80%;
}
.confirm{
    width: 80%;
}
}

@media screen and (max-width: 542px){
    /* Decoration */
.ball1{
    height: 100px;
    width: 100px;
    top: 90px;
    left: 150px;
}

.ball2{
    height: 100px;
    width: 100px;
    top: -65px;
    right: -70px;
}

.ball3{
    height: 120px;
    width: 120px;
    top: 60vh;
    right: 10px;
}

.ball4{
    height: 70px;
    width: 70px;
    top: 500px;
    left: 70px;
}

.ball5{
    height: 148px;
    width: 148px;
    top: 1150px;
    left: -50px;
}

.ball6{
    height: 130px;
    width: 130px;
    top: 1170px;
    right: 10px;
}

.ball7{
    height: 120px;
    width: 120px;
    top: 2410px;
}
    /* Navbar */
.nav li a{
    padding: 5px 10px;
}
    
.nav{
    display: flex;
    width: fit-content;
    margin: auto;
}
    
.nav li{
    padding: 10px 5px;
}
    
    /* Home */
.home div{
    font-size: 30px;
}
    
    /* About Me */
.isi{
    background: linear-gradient(148.39deg, rgba(255, 255, 255, 0.4) 16.43%, rgba(255, 253, 253, 0.1) 85.71%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(40px);
    border-radius: 40px;
    height: 400px;
    width: 95%;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    margin: auto;
    flex-direction: column;
}
    
.isi img{
    margin: 10px auto;
    height: 120px;
    width: 120px;
    border-radius: 20px;
}
    
.isi .desc-left{
    width: 85%;
    font-size: 23px;
    margin: auto;
    text-align: justify;
}
    
.isi .desc-right{
    margin: 10px auto;
}
    
.isi .desc-right .education{
    margin: 20px auto;
}
    
.skill{
    width: 65%;
    margin: auto;
}
    
.skill .skill1 h4,
.skill2 h4,
.skill3 h4,
.skill4 h4{
    width: 40%;
}
    
.skill .level{
    height: 10px;
    width: 10px;
}
    
.skill .level-trans{
    height: 10px;
    width: 10px;
}
    
    /* Portofolio */
.my-project .project .card{
    width: 80%;
    margin: 20px;
}
    
    /* Contact Me */
    
.background{
    width: 80%;
}
    
.confirm{
    width: 80%;
}
    
.confirm .contact label{
    color: white;
    padding: 0px 10px;
}
}
